body{
    background-color: lightgray;
    font-family:'Times New Roman', Times, serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
nav  ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: solid 2px;
    border-radius: 10px;
    padding: 2rem;
    font-size: large;
    background-color: rgb(49, 49, 49);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
li > a {
    color: white;
    text-decoration: none;
}
li > a:hover{
    color: darkcyan;
    transition: 0.10s;
}

main > .paragraph1{
    border: solid 2px transparent;
    border-radius: 20px;
    background: rgba(0,0,0,0.4)url("https://wallpapercave.com/dwp1x/wp4325832.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    color: aliceblue;
    padding: 1rem;
    font-style: oblique;
    
    
}
main  :hover{
    opacity: 0.5;
    transition: 0.1ms;
}

section {
    display: flex;
    
}

article {
    flex: 1;
}

#article1  {
    border: solid 2px transparent;
    border-radius: 10%;
    background-color: wheat;
    padding: 2rem;
    margin: 1em;
    
}
#article1 > img{
    width: 20rem;
    border-radius: 10%;
}
#article2{
    border: solid 2px transparent;
    border-radius: 10%;
    background-color: wheat;
    padding: 2rem;
    margin: 1em;
    
}
#article2 > img{
    width: 20rem;
    border-radius: 10%;
    
}
#article3{
    border: solid 2px transparent;
    border-radius: 10%;
    background-color: wheat;
    padding: 1rem;
    margin: 1em;
    
}
#article3 > img{
    width: 20rem;
    border-radius: 10%;
}
p{
    font-weight: bold;
}

#hours {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    
}
/* div {
    flex: 1;
} */
footer img{
    /* flex: 1; */
    width: 50px
}
footer p{
    font-weight: bold;
}

